{% extends "learn/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form enctype="multipart/form-data" action="" method="post" id="user_form" novalidate="">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{thingtobe}}</legend>
                {{ form|crispy }}
                {% if form_errors %}
                <div class="alert alert-danger" >{{ form_errors }}</div>
                {% endif %}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Update</button>
            </div>
        </form>
    </div>
{% endblock content %}